//FONTS

$designed-text: "Libre Baskerville";
$designed-default: serif;

$normal-text: "Noto Sans JP";
$normal-default: sans-serif;

$italic-text: "MonteCarlo";
$italic-default: cursive;

//COLORS
$white: #fff;
$blue: #22577a;
$black: #232323;
$darkGrey: #9e9d89;
$darkBrown: #6e5642;
$lightGrey: #EEEEEE;
$darkYellow:#FFB344;
$lightBlack:#374045;
