//FONTS

$designed-text: "Libre Baskerville";
$designed-default: serif;

$normal-text: "Noto Sans JP";
$normal-default: sans-serif;

$italic-text: "MonteCarlo";
$italic-default: cursive;

//COLORS
$white: #fff;
$blue: #04009a;
$black: #000;
