@mixin spaced_text() {
  text-transform: uppercase;
  font-family: $normal-text, $designed-default;
  font-weight: 500;
  letter-spacing: 0.5rem;
  font-size: 0.8rem;
}

@mixin clock($bgcolor, $color) {
  text-align: center;
  background-color: $bgcolor;
  color: $color;
  width: 6rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-family: $normal-text, $designed-default;
}

@mixin cultureParagraphs() {
  padding: 2rem 0;
  p:first-child {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: $white;
  }

  p:last-child {
    font-size: 1rem;
    color: $white;
  }
}

@mixin eachComponent() {
  display: flex;
  width: 70%;
  img {
    width: 10rem;
    //height: 15rem;
  }
}

@mixin button($color, $bgcolor, $boxshadow, $hcolor) {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__button {
    padding: 0.7rem 2rem;
    width: 12.5rem;
    height: 4rem;
    color: $color;
    background-color: $bgcolor;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    font-family: $normal-text, $normal-default;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 0 $boxshadow;
    transition: ease-in-out 0.2s;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      box-shadow: inset 20rem 0 0 0 $boxshadow;
      color: $hcolor;
    }
  }
}

@mixin headingSpacedText($spacedTextCol, $headingCol, $hrCol) {
  &--spacedText {
    @include spaced_text;
    color: $spacedTextCol;
    margin-bottom: 1rem;
  }

  &--Heading {
    font-size: 2rem;
    color: $headingCol;
  }

  hr {
    width: 12%;
    border-top: 1px solid $hrCol;
    margin: 2rem 0;
  }
}

@mixin sectionSetupText($textColor) {
  &--text {
    width: 70%;
    color: $textColor;
    font-size: 1.2rem;
  }
}


