.leaders{
    background-color: $black;
    padding-top: 5rem;
    &Inner {
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include headingSpacedText($blue, $darkGrey, $darkGrey);
        @include sectionSetupText($darkGrey);
        
        &--text{
            width:50%;
        }
    }
    &Team {
        //height: 60vh;
        display: flex;
        justify-content: center;
        //align-items: center;
        flex-wrap: wrap;
        margin:2rem 0;

        &All {
            width:300px;
            height: 400px;
            padding-bottom: 2rem;
            text-align: center;
            margin: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
            -webkit-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);;;
        }

        &--pic{
            width:270px;
            height: 375px;
            background-color: blueviolet;
        }

        &--text{
            text-align: center;
            
        }

        &--title{
            @include spaced_text;
            color:$darkGrey;
            margin: 1rem 0;
        }

        &--name{
            text-transform: capitalize;
            color:$white;
        }
    }
}

.leaderBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    @include button($darkGrey, $white, $blue, $white);
    padding-top: 2rem;
    padding-bottom: 7rem;
  }