.menu__btn.open .menu__btn--burger{
    transform: scaleX(-20px);
    background: transparent; 
}

.menu__btn.open .menu__btn--burger::before{
    transform: rotate(45deg) ;
}

.menu__btn.open .menu__btn--burger::after{
    transform: rotate(-45deg) ;
}