.testimony{
    overflow:hidden;
    &Top{
        color: $white;
        margin-top: 5rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: flex;
        @include headingSpacedText($lightBlack, $black, $black);
    }

    &Contents{
        height: 600px;
        width:100%;
        overflow: hidden;
        position: relative;
        &--1, &--2, &--3{
            position: absolute;
            top:0;
            left:0;
            height: 600px;
            width:100%;
            img{
                width:120%;
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
            }

            .text-box{
                width: 300px;
                //border:2px solid red;
                position: absolute;
                font-size: 2rem;
                line-height: 3rem;
                top:50%;
                left:50%;
                color:white;
                transform: translate(-50%,-50%);
                text-align: center;
                background-color: rgba(34, 87, 122, 0.13);
                border-radius: 2rem;
                padding:2rem;
                box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
                -webkit-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
                &--detail{
                    margin-bottom: 3.5rem;
                }
                &--person{
                    margin-top: 7rem;
                }
                span{
                    background-color: $white;
                    width:100px;
                    height:1px;
                    position: absolute;
                    left:50%;
                    transform: translateX(-50%);
                }
            }
            
        }
        

        &--1{
            animation: testimonyPic 15s linear infinite;
            animation-direction: reverse;
        }
        &--2{
            animation: testimonyPic2 15s linear infinite;
            animation-direction: reverse;
        }
        &--3{
            animation: testimonyPic3 15s linear infinite;
            animation-direction: reverse;
        }
        
    }
}

@keyframes testimonyPic{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes testimonyPic2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes testimonyPic3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}



@media only screen and (max-width:1024px){
    .testimony{
        &Contents{
            height:800px;
            &--1,&--2,&--3{
                height:800px;
            }
        }
    }
}

@media only screen and (max-width:690px){
    .testimony{
        &Contents{
            width:100%;
            height:500px;
            &--1,&--2,&--3{
                height:500px;
                .text-box{
                    width:300px;
                    font-size: 1.5rem;
                    padding:1rem;
                }
            }
        }
    }
}