.resources{
    background-color: $blue;
    padding-top: 5rem;

    &Inner {
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include headingSpacedText($white, $white, $black);
        @include sectionSetupText($white);
        
        &--text{
            width:50%;
        }

        margin-bottom: 5rem;
    }

    &__magazine{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height:550px;
        margin-bottom: 2rem;
        //border: 2px solid red;
        //flex-wrap: wrap;

        &--1{
            img{
                width:300px;
                cursor: pointer;
                box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
                -webkit-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.75);
            }
            width:507.5px;
            height:auto;
            display: flex;
            justify-content: center;
            
        }
    }
    
}   






//RESPONSIVE



//2nd HALF -----------------------------------------------------------------------------------------------------


.sermonEvents{
    display:flex;
    justify-content: space-around;
    &__event{
        width:50%;
        margin-bottom: 5rem;
        &--top{
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
        img{
            width:7rem;
            height:7rem;
            margin-right: 2rem;
        }
        &--small{
            @include spaced_text;
            color:$darkGrey;
            padding-bottom: 1rem;
        }
        &--big{
            color:$white;
            font-size: 2rem;
        }
        hr{
            border:none;
            border-top:2px solid $black;
        }

        &--bottom{
            display:flex; 
            justify-content: space-between;
            align-items: center;
        }

        &--topic, &--head{
            color:$white;
        }
        &--head{
            padding:2rem 0;
        }
        &--topic{
            background-color:$black;
            padding:1rem;
            span{
                font-size: 0.8rem;
            }

        }
        &--media{
            margin:2rem 0;
            span{
                font-size: 2rem;
                color:$darkGrey;
                i{
                    background-color:$black;
                    padding:2rem;
                    border-radius: 50%;
                    color:$lightGrey;
                    &:hover{
                        background-color: $darkGrey;
                    }
                }
            }
        }
        &--bottom--2{
            img{
                width:20rem;
                height:20rem;
            }
        }

        .share{
            color:$darkGrey;
            font-size: 1.5rem;
            margin: 2rem 0;
        }
    }
}



.resourceBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    @include button($darkGrey, $white, $blue, $white);
    //padding-bottom: 7rem;
  }

@media only screen and (max-width:1000px) {
    .sermonEvents{
        flex-direction: column;
        align-items: center;
        &__event{
            width:70%;
        }
    }
}

@media only screen and (max-width:700px) {
    .sermonEvents__event--bottom--2{
        display: none;
    }
    .sermonEvents__event--bottom{
        justify-content: center;
    }
}