.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  &__div {
    padding: 4rem 2rem;
    a {
      text-decoration: none;
      color: $white;
      font-size: 1.3rem;
      font-family: $normal-text, $designed-default;
      transition: border-bottom 0.2s ease-in, font-size 0.2s ease-out,
        color 0.2s ease-in-out;
      &:hover {
        border-bottom: 0.2rem solid $white;
        font-size: 1.4rem;
        color: $blue;
      }
    }
  }
  &--span_color {
    color: $blue;
    font-weight: 900;
  }
  &--p_color {
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 5rem;
    text-align:center; 
    //width:x%;
    text-shadow: 0 0 0.5rem #fff;
    span {
      text-shadow: 0 0 0.5rem #fff;
    }
  }
  &--position {
    display: block;
    text-align: center;
  }
  &--icon {
    font-size: 4rem;
  }
  &__iconn {
    img {
      max-width: 10rem;
      height: auto;
    }
  }
}
