.culturePage {
  background: linear-gradient(rgba(3, 81, 120, 0.85)),
    url("../images/culturePage.png");
  background-position: center top;
  background-size: cover;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.cultureHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: 2rem 0;
  }
  @include headingSpacedText($white, $white, $black);
  @include sectionSetupText($white);
  margin-bottom: 8rem;
}

.cultureSubheading {
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    &__component {
      @include eachComponent;
    }
  }

  &__right {
    width: 40%;
    &__component {
      @include eachComponent;
      div {
        @include cultureParagraphs;
      }
    }
  }
}

.aye {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include cultureParagraphs;
}

.cultureBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  @include button($darkGrey, $white, $blue, $white);
}


//RESPONSIVE

@media only screen and (max-width: 840px){
  .cultureSubheading__right{
    display:none;
  }

  .cultureSubheading__left{
    align-items: center;
    width:100%;
    &__component{
      width:60%;
    }

    .aye{
      align-items: center;
    }
  }
}