.section {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: space-evenly;
  &__event {
    display: flex;
    &__logo {
      margin-right: 3rem;
      img {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
      }
      p {
        text-transform: uppercase;
        font-family: $normal-text, $designed-default;
        font-weight: lighter;
        text-align: center;
      }
    }

    &--modified1 {
      font-size: 1.5rem;
    }

    &--modified2 {
      font-size: 0.7rem;
    }

    &__details {
      &--modified {
        background-color: $blue;
        padding: 1rem;
        margin-bottom: 2rem;
        width: 47%;
        @include spaced-text;
      }

      &--lilmodified {
        margin-bottom: 1rem;
      }

      &--finalmodified {
        text-transform: uppercase;
        font-family: $normal-text, $designed-default;
        font-size: 1rem;
        color: $darkGrey;
        .fa-map-marker-alt {
          margin-left: 0.2rem;
        }
        span {
          margin-left: 0.2rem;
        }
      }
    }
  }

  &__countdown {
    text-align: right;
    .socials {
      &__share {
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $darkGrey;
        font-family: $normal-text, $designed-default;
        margin-right: 3rem;
      }

      &__icon {
        color: $darkGrey;
        background-color: transparent;
        text-decoration: none;
        &:hover {
          font-size: 1.7rem;
        }
      }
    }

    .count {
      display: flex;
      justify-content: right;
      margin-top: 3rem;
      &__clock {
        @include clock($white, $blue);
        margin-right: 0.5rem;
        font-size: 1rem;
        &--modified {
          font-size: 3rem;
          color: $black;
        }
      }

      &__notClock {
        @include clock($blue, $white);
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
