.gallery{
    padding: 5rem 0;
    background-color: $lightGrey;
    
    &Top{
        color: $white;
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: flex;
        @include headingSpacedText($lightBlack, $black, $black);
    }

    &Flex{
        position: relative;
        height:791px;
    }
    
    &Grid{
        position: absolute;
        display: grid;
        width:660px;
        grid-template-columns: repeat(4, 150px);
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 2rem;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        div{
            //width:100px;
            //height:100px;
            background-color: $black;
        }
        .galleryGrid--1{
            grid-column: 1/3;
            grid-row: 1/3;
            background-image: url("../images/teensJump.jpg");
            background-position: center;
            background-size: cover;
        }
        .galleryGrid--10{
            grid-column: 3/5;
            grid-row: 3/5;
            background-image: url("../images/pstSunday.jpg");
            background-position: center;
            background-size: cover;
        }
        .galleryGrid--2{
            background-image: url("../images/pstSunday.jpg");
            background-position: center;
            background-size: cover;
        }
        .galleryGrid--3{
            background-image: url("../images/joba.jpg");
            background-position: center;
            background-size: cover;
        }
        .galleryGrid--4{
            background-image: url("../images/joba.jpg");
            background-position: center;
            background-size: cover;
        }
        .galleryGrid--5{
            background-image: url("../images/joba.jpg");
            background-position: center;
            background-size: cover;
        }
        .galleryGrid--6{
            background-image: url("../images/bobo.jpg");
            background-position: center;
            background-size: cover;
        }
        .galleryGrid--7{
            background-image: url("../images/joba.jpg");
            background-position: center;
            background-size: cover;
        }
        .galleryGrid--8{
            background-image: url("../images/teensSit.jpg");
            background-position: center;
            background-size: cover;
        }
        .galleryGrid--9{
            background-image: url("../images/regteam.jpg");
            background-position: center;
            background-size: cover;
        }
    }

    

    
}

//responsive

@media only screen and (max-width:675px){
    .galleryGrid{
        grid-template-columns: repeat(3, 150px);
        width:490px;
    }
    .galleryGrid--1{
        display:none;
    }
    .galleryGrid--10{
        display: none;
    }
}

@media only screen and (max-width:511px){
    .galleryGrid{
        grid-template-columns: repeat(2, 150px);
        width:320px;
    }
}