.menu__btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:5vh;
  cursor: pointer;
  transition: all .5s ease-in-out;
  display: none;
}

.menu__btn--burger{
  width: 50px;
  height: 6px;
  background-color:$white;
  border-radius: 5px;
  transition: all .5s ease-in-out;

  &::before {
    content:"";
    position: absolute;
    width: 50px;
    height: 6px;
    background-color:$white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform: translateY(-20px);
  }

  &::after {
    content:"";
    position: absolute;
    width: 50px;
    height: 6px;
    background-color:$white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform: translateY(20px)
  }
}


.responsive{
  border: 2px solid black;  
  a{
    text-decoration: none;
    color: $white;
    cursor:pointer;
    &:hover{
      font-size: 1.6rem;
    }
  }

  div{
    padding: 2rem 0;
    text-align: center;
    background-color: $blue;
    border-bottom: 2px solid black;
    //z-index: -1;
  }
  
  display: none;
  
}

.responsiveBlock{
  display:block;
  animation: reappear 0.5s linear reverse;
}



//ANIMATION
@import "../../animations/menuAnimate/menuAnimate";

@media only screen and (max-width:830px) {
  .menu__btn{
    display: block;
  }

}